.button{
    background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 400px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
.button:hover{
    background-color: darkblue;
}

.email{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 400px;
    border-color: black;
    font-size: 20px;   
} 
.border{
   display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #3e9adf, #f5f7fa);
    
    }   
.border-box{
     width: 420px;
  background-color: #ffffff;
  padding: 40px 35px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
